header {
  /* position: relative; */
  padding-top: 120px;
  height: 520px;
  right: 0;
  left: 0;
  /* margin-top: 0;   */
  background-color: lightcoral;
}

header div {
  text-align: center;
}

header h2 {
  margin-top: 0;
}
