header.pageHeader {
  margin-top: 120px;
  height: 370px;
  right: 0;
  left: 0;
  background-color: #04001f;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

div.pageHeader {
  text-align: center;
}

.pageHeader h2 {
  margin: : 0;
  padding: 0;
  position: relative;
  bottom: 1.2em;
}

