article.tweet {
  height: 250px;
  margin-top: 75px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  border: solid;
  text-align: left;
  opacity: 0.7;
}

article.tweet:hover {
  opacity: 1;
}

article.tweet:hover .userName{
  display: block;
  opacity: .50;
}

.userName {
  float: right;
  display: none;
}

article.tweet section {
  font-weight: bold;
}

article footer {
  border-top: solid;
}
.links {
  float: right;
}